@import "tailwindcss";

@layer base {
  html { scroll-behavior: smooth; }
  body { @apply antialiased; }
  .no-scrollbar::-webkit-scrollbar { display: none; }
  .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}

@media print {
  body * { visibility: hidden !important; }
  #resume-preview, #resume-preview * { visibility: visible !important; }
  #resume-preview { position: fixed; left: 0; top: 0; width: 100%; }
}
